<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.theluckycoder.addon.usefullrecipes"
        android:versionCode="1"
        android:versionName="1.0">
	
	<uses-permission android:name="net.zhuoweizhang.mcpelauncher.ADDON"/>
	
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />
	
    <application  android:label="Useful Recipes" android:hasCode="false">
		<meta-data android:name="net.zhuoweizhang.mcpelauncher.api.nativelibname"
			android:value="usefulrecipes"/>
		<meta-data android:name="net.zhuoweizhang.mcpelauncher.api.targetmcpeversion"
			android:value="0.16.1.0"/>
		</application>
</manifest> 
